@model DitHub.ViewModels.CreateViewModel
@{
    ViewBag.Title = "Create";
    ViewBag.Layout = "~Views/Shared/_Layout.cshtml";
}
<h1>Create</h1>
<p class="alert alert-info">All fields are <strong>Required</strong></p>
<form method="post" asp-action="Create" asp-controller="Dits">

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="venue" placeholder="venue" asp-for="Venue" autofocus="autofocus">
        <label for="venue">Venue:</label>
        <span asp-validation-for="Venue" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <select class="form-select form-control" id="genre" asp-for="Genre" data-val="true">
            <option selected value="">Select a genre..</option>
            @foreach (var item in Model.Genres)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <label for="genre" class="form-label">Genre:</label>
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="date" asp-for="Date" placeholder="eg 1 Jan 2020">
        <label class="form-label" for="date">Date: eg 1 Jan 2020</label>
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="time" asp-for="Time" placeholder="eg 24:00">
        <label class="form-label" for="time">Time: eg 24:00</label>
        <span asp-validation-for="Time" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <script src="~/lib/bundle.js"></script>
}