/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 2rem;
    font-weight: bold;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-link:focus, .nav-link:hover {
    background-color: #841f1f7d;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

/*@font-face {
    font-family: Quintessential;
    src: url(Quintessential-Regular.ttf)format('truetype');
}*/
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color: #f93636;
    font-family: Quintessential,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    font-size: 1rem;
    line-height: 60px; /* Vertically center the text there */
}
/*my overrides*/

.bg-white {
    background-color: #f93636 !important;
}

.text-dark {
    color: #000 !important;
}

.btn-link {
    font-size: 1rem;
}

.form-control {
    width: 335px;
    height: calc(2rem + .75rem + 2px);
    padding: .5rem .5rem;
    border-radius: .4rem;
}

    .form-control:focus {
        color: #495057;
        border-color: #000;
        box-shadow: 0 0 0 .2rem rgba(249, 54, 54, 0.59);
    }

.dropdown-menu {
    box-shadow: 0 5px 5px #f05e5e4a;
}

.alert {
    width: 335px;
}

.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
    transform: scale(.70) translateY(-.5rem) translateX(.15rem);
}

.form-select {
    font-size: 0.9rem;
}

/*index page dits*/

.listDA {
    list-style: none;
    color: black;
}

    .listDA > li {
        margin-bottom: 5%;
    }

        .listDA > li .details {
            padding: 10px;
        }

            .listDA > li .details .artist {
                font-weight: bold;
                display: block;
            }

            .listDA > li .details .downD {
                font-size: 14px;
                display: block;
            }

        .listDA > li .number {
            text-align: center;
            width: 60px;
            -webkit-border-radius: 8px;
            overflow: hidden;
        }

            .listDA > li .number .upN {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: bold;
                padding: 2px 6px;
                background: #f93636;
                color: #fff;
            }

            .listDA > li .number .downN {
                font-size: 20px;
                padding: 6px 12px;
                background: #fff;
                color: black;
            }


        .listDA > li button, .create, a.A, a.D {
            color: black;
            background-color: #fff;
            border-color: black;
            box-shadow: 0.5rem 0.5rem #f93636, -0.5rem -0.5rem #ccc;
            margin: .5rem !important;
        }

            .create:focus, .create:hover, .dits > li button:hover, .dits > li button:focus, a.A:hover, a.A:focus,
            a.D:hover, a.D:focus {
                background-color: darksalmon;
                border-color: black;
            }

button.create {
    position: inherit;
}

.listDA > li .action {
    display: none;
}

.listDA > li:hover .action {
    display: flex;
}

.ms-auto {
    align-items: center;
    justify-content: center;
}

/*.mt {
    --bs-table-bg: darksalmon;
    --bs-table-striped-bg:#f93636;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #faa98d;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #faa98d;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #000000;
}*/

.badge {
    font-size: inherit;
    font-weight: 400;
    margin: .5rem !important;
}

span.N {
    position: absolute !important;
    font-size: x-small;
    font-weight: 500;
    padding: 0.30rem;
    line-height: 0.75;
    background-color: #ac0e0e;
    color: #fff;
    left: 30% !important;
    top: -20% !important;
    border-radius: 50rem !important;
}

a.bi {
    position: relative;
}

.p-line ul.NP {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.p-line ul.NP > li {
    border-bottom: 1px solid #f93636;
    padding: 10px;
}

    .p-line ul.NP > li#new {
        background-color:aqua;
                        }
    .p-line ul.NP > li#old {
        background-color:coral
    }
        .p-line ul.NP > li:last-child {
    border-bottom: none;
}

.p-line .popover-body {
    padding: 0;
    height: 150px;
    overflow: auto;
}

.p-line .N-name{
    font-weight: bold;
}


#searchdiv:active ~ #addon, #searchdiv:focus-within ~ #addon {
    background-color: rgba(249, 54, 54, 0.59);
    box-shadow: 0 0 0 .2rem rgba(249, 54, 54, 0.59);
    margin-left: 0.4rem !important;
}

#searchin.form-control {
    border-bottom-left-radius: 0.25rem !important;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
